@media only screen and (max-width: 990px) {
  #header-name {
    display: none;
  }
  #header-nav {
    color: #909090;
    font-size: 150%;
  }
  #icon {
    width: 50px;
    height: 50px;
  }
  hr {
    display: none;
  }
  ul {
    margin: 0;
    font-size: 150%;
  }
  header{
    min-height: 100px;
    font-size: 150%;
  }
  .abt-para.content {
    font-size: 150%;
    padding: 0 10% 10%;
  }
  #about {
    height: 750px;
  }
  #contact {
    height: 700px;
  }

  /* .home-div {
    width: 100%;
  } */
  /*
  .abt-div {
    width: 80%;
    display: block;

  } */

  #firstDiv .abt-para, #FirstDiv .abt-para {
    padding-bottom: 0;
    width: 100%;
    position: relative;
    height: auto;
    /* width: 45%; */
  }
  #secondDiv .abt-para, #SecondDiv .abt-para {
    padding-top: 0;
    width: 100%;
    position: relative;
    height: auto;
    /* width: 45%; */
  }
  /* #FirstDiv .abt-para {
    padding-bottom: 0;
    width: 100%;
  }
  #SecondDiv .abt-para {
    padding-top: 0;
    width: 100%;
  } */
  #borosil {
    /* height:2300px; */
    padding: 50px 15% 90px;
  }
  #omsons {
    padding: 50px 15% 90px;
    height:1400px;
  }
  #firstPhoto, #secondPhoto {
    display: none;
  }
  .content {
    font-size: 150% !important;
  }
}

@media only screen and (min-width: 990px) {
  #header-nav {
    display: none;
  }
  .abt-div {
    width: 40%;
    height: 70%;
    /* display: inline-block; */
    /* position: absolute; */
  }
  #firstDiv {
    position: absolute;
    height:750px;
    width: 500px;
  }
  #secondDiv {
    height:750px;
    margin-left:55%;
    width: 500px;
  }
  #FirstDiv {
    position: absolute;
    /* height:420px; */
    height: auto;
    width: 500px;
  }
  #SecondDiv {
    /* height:600px; */
    height: auto;
    margin-left:55%;
    width: 500px;
  }
  #borosil {
    /* height:1350px; */
  }
  #omsons {
    height:850px;
  }
  .abt-para {
    padding:30px 50px;;
  }
  #header-name{
    padding-top: 20px;
    margin: 0;
  }
  #header-name h3 {
    margin: 0;
    padding-left: 50px;
  }
  .navbar li {
    /* width: 100px; */
    text-align: center;
    padding: 0 20px;
    font-weight: 500;
    font-family: 'Verlag-Book';
  }
  .navbar {
    padding: 15px 25px 0 0;
    height: 60px;
    text-align: center;
    /* padding-top: 15px; */
  }

}

/* *******************************normal********************* */

body {
  font-family: 'Raleway', sans-serif;
  /* font-size: 20px; */
}

header {
  /* background-color: black; */
  /* text-decoration-color: white; */
  /* color: blue; */
  padding: 0;

  }

.sticky {
  display: block;
  position: fixed;
  top:0;
  width: 100%;
}

footer {
  padding: 15px 30px;
  background-color: #183964;
  color: white;
  /* text-align: center; */
}

a{
  color: inherit;
}

hr {
  color: white;
  border: 1px solid white;
}
img {
  height: 100%;
  width: 100%;
}
ul {
  font-family: 'Gotu', sans-serif;
}

.link-item {
  color: white;
}
.link-item :hover {
  color: black;
}

.home-div {
      background: url(./src/home.jpg) fixed;

  }
.photo-div {
  margin: 0;
background-size: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
width:100%;
height:500px;
display:block;
  }

.home-heading {
  /* font-family: 'Verlag-Bold'; */
  font-family: 'Raleway', sans-serif;
  font-size: 3.5rem;
  color: white;
  position: relative;
  padding-top: 100px;
  padding-left: 250px;
  padding-right: 400px;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.abt-container{
  /* background-color: #ffdb9c; */
  position: relative;
  height: 600px;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  width: 100%;
  padding: 90px;
}

.abt-div {

  /* margin-top: 100px;
  margin-bottom: 15%; */
  display: inline-block;
  background-color: #e6e6e6;
  color: black;
  padding: 0;
  margin: auto;
}

.brand-div {
  width:35%;
  height:320px;
  padding: 0;
  position: absolute;
}
.abt-heading {
  position: relative;
  margin-top: 15%;
  margin-bottom: 10%;
  text-align: center;
  width: 100%;
  /* color: #ffdb9c; */
}
.abt-para {
  width: 100%;
  /* padding: 0 10%;  purana*/
  padding:30px 50px;
  /* padding-right: 50px;
  padding-right: 50px; */
  /* font-size:150%; */
}


img {
  position: relative;
  width: 100%;
  height: 100%;
}

.comp-heading {
  width: 100%;
  color: black;
  height: 100px;
  text-align: center;
}
.heading {
  width: 100%;
  text-align: center;
  font-family: 'Verlag-Bold';
}
.underLine {
  width: 20%;
  /* background-color: #f59123; */
  color: #f59123;
  border-color: #f59123;
}
.content {
  /* font-family: 'Verlag-Light'; */
  margin: 0;
  padding: 10px 15%;
  font-size: 20px;
}

#borosil, #omsons {
  padding-top:50px;
  height: auto;
}
#firstDiv, #secondDiv, #FirstDiv, #SecondDiv {
  font-size:150%;


  display: inline-block;

}

.bg-primary {
  background-color: #183964 !important;
}
.text-primary {
  color: #183964 !important;
}
footer div {
  display: inline-block;
  width: 49%;
}
